# Core FastAPI and server
fastapi==0.117.1
uvicorn[standard]==0.30.1
pydantic==2.11.9
joblib==1.4.2
accelerate
huggingface_hub
boto3

# Scoring Libraries
readability --index-url https://github.com/andreasvc/readability/tarball/master
syntok

nltk==3.9.1
numpy==1.26.4
torch --index-url https://download.pytorch.org/whl/cu121
transformers

